.navigation-list li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.navigation-list > li {
  list-style: none;
}

.header-navigation {
  background-color: yellow;
}
